/* Ioannis Kalaitzidis, 2120067, Thesis */

/* Εμφάνιση ιστοσελίδας-------------------------------------------------------------------------------------------------------------------------- */

/* Τίτλος ιστοσελίδας */
header {
    font-size: 30px; /* Μέγεθος γραμματοσειράς τίτλου */
}

/* Εικονίδιο αλλαγής mode (light/dark) */
#icon {
    width: 30px;                                                /* Πλάτος του εικονιδίου */
    height: 30px;                                               /* Ύψος του εικονιδίου */
    cursor: pointer;                                            /* Αλλάζει τον κέρσορα σε δείκτη χεριού */
    position: absolute;                                         /* Θέτει το εικονίδιο σε ανεξάρτητη θέση από τα υπόλοιπα κοντινά στοιχεία */
    right: 70px;                                                /* Τοποθετεί το εικονίδιο 70px από τα δεξιά */
    top: 70px;                                                  /* Τοποθετεί το εικονίδιο 70px από πάνω */
}

/* Light mode-colors */
:root {
    --primary-color: #99BC85;                                 /* Κύριος χρωματισμός */
    --secondary-color: #42602e;                               /* Δευτερεύων χρωματισμός */
    --tertiary-color: #000000;                                /* Χρώμμα γραμματοσειράς */
    --scrollbar-thumb-color: #42602e;                         /* Χρώμα του scrollbar που κινείται (thumb) */
    --scrollbar-track-color: #99BC85;                         /* Χρώμα του φόντου του scrollbar (track) */
}

/* Dark mode-colors */
.dark-theme {
    --primary-color: rgb(5, 14, 43);                          /* Κύριος χρωματισμός στο dark mode */
    --secondary-color: #2bc7d5;                               /* Δευτερεύων χρωματισμός στο dark mode */
    --tertiary-color: white;                                  /* Χρώμα γραμματοσειράς στο dark mode */
    --scrollbar-thumb-color: #2bc7d5;                         /* Αλλάζει το χρώμα του scrollbar thumb στο dark mode */
    --scrollbar-track-color: rgb(5, 14, 43);                  /* Αλλάζει το χρώμα του φόντου του scrollbar στο dark mode */
}

/* 'Σώμα' ιστοσελίδας (header + main + footer) */
body {
    background-color: var(--primary-color);                     /* Κύριος χρωματισμός στο background της ιστοσελίδας (light/dark mode) */
    color: var(--tertiary-color);                               /* Χρώμα γραμματοσειράς (light/dark mode) */
    font-family: Arial, sans-serif;                             /* Είδος γραμματοσειράς */
}

/* Menu επιλογών--------------------------------------------------------------------------------------------------------------------------------- */

/* Κυριο menu επιλογών */
.navigation1 {
    border: 5px solid var(--secondary-color);                   /* Περίγραμμα μενού */
    padding: 10px;                                              /* Κενό γύρω από τα κουμπιά */
    box-sizing: border-box;                                     /* Συμπεριλαμβάνει το padding και το border στο συνολικό μέγεθος του στοιχείου */
    border-radius: 10px;                                        /* Στρογγυλοποιεί τις γωνίες του περιγράμματος */
    width: 460px;                                               /* Πλάτος του περιγράμματος */
    margin: 0 auto;                                             /* Τοποθέτηση του περιγράμματος στο κέντρο, σύμφωνα με τον οριζόντιο άξονα */
    text-align: center;                                         /* Κεντράρει τα κουμπιά μέσα στο περίγραμμα */
    margin-top: -20px;                                          /* Τοποθετεί το περίγραμμα ελαφρώς προς τα πάνω */
}

.navigation1 button {
    font-size: 15px;                                            /* Μέγεθος της γραμματοσειράς στα κουμπιά */
    border: 3px solid transparent;                              /* Ορίζει περίγραμμα στο κάθε κουμπί */
    padding: 10px;                                              /* Κενό μέσα στα κουμπί */
    margin: 5px;                                                /* Κενό μεταξύ των κουμπιών */
    border-radius: 5px;                                         /* Στρογγυλοποιεί τις γωνίες του κουμπιού */
    color: var(--tertiary-color);                               /* Χρώμα κειμένου του κουμπιού */
    background-color: var(--primary-color);                     /* Χρώμα φόντου του κουμπιού */
    transition: border-color 0.5s ease;                         /* Ομαλή μετάβαση για την αλλαγή του περιγράμματος κατά την αλληλεπίδραση */
}

/* Δεύτερο menu επιλογών */
.navigation2 {
    flex-direction: column;                                     /* Στοίχιση των κουμπιών κατακόρυφα */
    border-radius: 10px;                                        /* Στρογγυλοποιεί τις γωνίες του περιγράμματος */
    border: 5px solid var(--secondary-color);                   /* Περίγραμμα μενού */
    margin-left: 40px;                                          /* Αριστερό περιθώριο για να απομακρύνει το στοιχείο από την αριστερή πλευρά */
    margin-top: 60px;                                           /* Πάνω περιθώριο */
    width: 295px;                                               /* Πλάτος του περιγράμματος */
    height: auto;                                               /* Το ύψος προσαρμόζεται αυτόματα ανάλογα με το περιεχόμενο */
    text-align: center;                                         /* Κεντράρει τα κουμπιά μέσα στο περίγραμμα */
    padding: 7px;                                               /* Κενό γύρω από τα κουμπιά */
    gap: 5px;                                                   /* Κενό μεταξύ των κουμπιών μέσα στο περίγραμμα */
}

.navigation2 button {
    font-size: 14px;                                            /* Μέγεθος γραμματοσειράς στα κουμπιά */
    width: 240px;                                               /* Πλάτος του κάθε κουμπιού */
    border: 3px solid transparent;                              /* Ορίζει περίγραμμα στο κάθε κουμπί */
    padding: 8px;                                               /* Κενό μέσα στα κουμπί */
    margin: 5px auto;                                           /* Τοποθετεί τα κουμπιά στο κέντρο σύμφωνα με τον οριζόντιο άξονα και ορίζει 5px κενό από πάνω και κάτω */
    border-radius: 5px;                                         /* Στρογγυλοποιεί τις γωνίες του κουμπιού */
    color: var(--tertiary-color);                               /* Χρώμα κειμένου του κουμπιού */
    background-color: var(--primary-color);                     /* Χρώμα φόντου του κουμπιού */
    transition: border-color 0.5s ease;                         /* Ομαλή μετάβαση για την αλλαγή του περιγράμματος κατά την αλληλεπίδραση */
}

/* Όταν τοποθετούμε τον κέρσορα πάνω στο κάθε κουμπί του κάθε menu */
.navigation1 button:hover, .navigation2 button:hover {
    cursor: pointer;                                            /* Αλλάζει τον κέρσορα σε δείκτη χεριού */
    border: 3px solid var(--secondary-color);                   /* Ορίζει περίγραμμα στο νέο κουμπί */
    transform: scale(1.2);                                      /* Μεγαλώνει το κουμπί κατά 20% όταν γίνεται hover */
    z-index: 1;                                                 /* Το κουμπί μετακινείται πάνω από το αρχικό, ώστε να το καλύψει */
    box-shadow: 0px 2px 7px var(--secondary-color);             /* Προσθέτει σκιά με χρώμα γύρω από το κουμπί */
}

/* Όταν επιλέγουμε το κουμπί */
button.selected {
    border: 3px solid var(--secondary-color);                   /* Ορίζει περίγραμμα με χρώμα */
    background-color: var(--primary-color);                     /* Ορίζει χρώμα φόντου */
    transform: none;                                            /* Καταργεί μετασχηματισμούς (scale-hover) */
    box-shadow: 0px 2px 7px var(--secondary-color);             /* Διατηρεί τη σκιά γύρω από το κουμπί */
}

/* Ορατότητα στοιχείων--------------------------------------------------------------------------------------------------------------------------- */

.hidden {
    display: none;                                              /* Κρύβει το στοιχείο πλήρως, αφαιρώντας το από τη ροή της ιστοσελίδας και καθιστώντας το αόρατο */
    /* visibility: hidden;                                      Έχει την ίδια λειτουργία με τη μόνη διαφορά ότι βρίσκεται αόρατο μέσα στη ροή της ιστοσελίδας */
}

.visible {
    display: flex;                                              /* Εμφανίζει το στοιχείο ως flexbox, επιτρέποντας την οριζόντια ή κατακόρυφη διάταξη των περιεχομένων του */
    /* visibility: visible;                                     Δε στοιχίζονται σωστά τα στοιχεία */
}

/* Διαμόρφωση εμφάνισης περιεχομένου------------------------------------------------------------------------------------------------------------- */

.text-content {
    flex-direction: column;                                     /* Τα περιεχόμενα της main στοιχίζονται κατακόρυφα */
}

.text-content h1 {
    max-width: 100%;                                            /* Το μέγιστο πλάτος του τίτλου είναι το 100% */
    word-wrap: break-word;                                      /* Σπάει μεγάλες λέξεις σε νέα γραμμή αν είναι πολύ μεγάλες για το πλάτος */
    white-space: normal;                                        /* Το κείμενο αναδιπλώνεται κανονικά και δεν παραμένει σε μία γραμμή */
}

/* Για όλα τα περιεχόμενα από τα menus επιλογών */
#intro, #links, #introduction, #list, #data-types-operators, #arithmetic-logical-operations, #variables, #comments, #built-in-functions, #basic-commands, #libraries, #control-flow, #functions, #game, #examples {
    text-align: justify;                                        /* Το κείμενο ευθυγραμμίζεται στα αριστερά και στα δεξιά, ώστε να γεμίζει το πλαίσιο */
    padding: 15px;                                              /* Απόσταση μεταξύ κειμένου και ορίων του περιγράμματος */
    border: 5px solid var(--secondary-color);                   /* Περίγραμμα για το κάθε περιεχόμενο */
    border-radius: 10px;                                        /* Στρογγυλοποιεί τις γωνίες του περιγράμματος */
    margin-top: -650px;                                         /* Αρνητικό περιθώριο στην κορυφή, μετακινώντας το κάθε περιεχόμενο προς τα πάνω */
    margin-bottom: 150px;                                       /* Περιθώριο από κάτω */
}

/* Για όλα τα περιεχόμενα που είναι προσβάσιμα από το δεύτερο menu επιλογών */
#introduction, #data-types-operators, #list, #arithmetic-logical-operations, #variables, #basic-commands, #comments, #built-in-functions, #libraries, #control-flow, #functions, #examples {
    width: 1040px;                                              /* Πλάτος περιεχομένου */
    height: auto;                                               /* Το ύψος προσαρμόζεται αυτόματα ανάλογα με το περιεχόμενο */
    margin-left: 400px;                                         /* Το περιεχόμενο τοποθετείται με απόσταση 400px από την αριστερή πλευρά */
    overflow-x: hidden;                                         /* Κρύβει το οριζόντιο scroll αν το περιεχόμενο υπερβαίνει το πλάτος */
}

/* Στυλ μόνο για Firefox */
@-moz-document url-prefix() {
    #intro, #links, #introduction, #list, #data-types-operators, #arithmetic-logical-operations, #variables, #comments, #built-in-functions, #basic-commands, #libraries, #control-flow, #functions, #game, #examples {
        margin-top: -659px;                                     /* Αρνητικό περιθώριο στην κορυφή, μετακινώντας το κάθε περιεχόμενο προς τα πάνω */
    }
}

/* Για τα περιεχόμενα που είναι προσβάσιμα από το πρώτο menu επιλογών */
#intro {
    width: 1000px;                                              /* Πλάτος περιεχομένου */
    height: auto;                                               /* Το ύψος προσαρμόζεται αυτόματα με το περιεχόμενο */
    margin: 0 auto;                                             /* Τοποθέτηση στο κέντρο, σύμφωνα με τον οριζόντιο άξονα */
    margin-top: 60px;                                           /* Περιθώριο από την κορυφή */
    margin-bottom: 80px;                                        /* Περιθώριο από κάτω */
}

#game {
    margin: 60px auto 150px auto;                               /* Ορίζει 60px περιθώριο από πάνω, 150px από κάτω και τοποθετεί στο κέντρο, σύμφωνα με τον οριζόντιο άξονα */
    text-align: center;                                         /* Τοποθέτηση περιεχομένου στο κέντρο, σύμφωνα με τον οριζόντιο άξονα */
    width: 1000px;                                              /* Πλάτος περιεχομένου */
    height: auto;                                               /* Το ύψος προσαρμόζεται αυτόματα με το περιεχόμενο */
}

iframe {
    width: 1000px;                                              /* Ορίζει το πλάτος του παιχνιδιού */
    height: 650px;                                              /* Ορίζει το ύψος του παιχνιδιού */
}

#links {
    width: 1170px;                                              /* Πλάτος περιεχομένου */
    height: auto;                                               /* Το ύψος προσαρμόζεται αυτόματα με το περιεχόμενο */
    margin: 0 auto;                                             /* Τοποθέτηση στο κέντρο, σύμφωνα με τον οριζόντιο άξονα */
    margin-top: 60px;                                           /* Περιθώριο από την κορυφή */
    margin-bottom: 220px;                                       /* Περιθώριο από κάτω */
}

/* Διαμόρφωση κειμένου και εικόνας--------------------------------------------------------------------------------------------------------------- */

/* Τίτλος */
h1{
    font-size: 22px;                                            /* Μέγεθος γραμματοσειράς */
}

/* Παράγραφος */
p {
    white-space: normal;                                        /* Το κείμενο αναδιπλώνεται κανονικά και δεν παραμένει σε μία γραμμή */
    font-size: 18px;                                            /* Μέγεθος γραμματοσειράς */
    line-height: 1.6;                                           /* Aπόσταση μεταξύ των γραμμών για καλύτερη αναγνωσιμότητα */
}

/* Λίστες (unordered και ordered) */
ul, ol {
    font-size: 20px;                                            /* Mέγεθος της γραμματοσειράς */
}

/* Σύνδεσμοι */
.custom-links a {
    color: var(--tertiary-color);                               /* Χρώμα του κειμένου των συνδέσμων */
    font-size: 18px;                                            /* Mέγεθος της γραμματοσειράς */
}

.custom-links a:hover {
    color: var(--secondary-color);                              /* Αλλάζει το χρώμα του συνδέσμου όταν ο χρήστης περνάει το ποντίκι πάνω από τον σύνδεσμο */
}

.custom-links a:active {
    color: var(--primary-color);                                /* Αλλάζει το χρώμα του συνδέσμου όταν ο χρήστης τον επιλέξει */
}

/* Εικόνα */
.content {
    overflow: hidden;                                           /* Η εικόνα δεν θα επηρεάσει τη διάταξη του κειμένου γύρω της */
}

.content img {
    float: right;                                               /* Τοποθετεί την εικόνα δεξιά σε σχέση με το κείμενο */
    margin-top: 25px;                                           /* Κενό πάνω από την εικόνα */
    margin-left: 5px;                                           /* Κενό στα αριστερά της εικόνας για απόσταση από το κείμενο */
}

/* Παραδείγματα κώδικα */
pre {
    padding: 10px;                                              /* Περιθώριο γύρω από τον κώδικα */
    background-color: #000;                                   /* Χρώμα φόντου */
    border-radius: 10px;                                        /* Στρογγυλοποιεί τις γωνίες του πλαισίου */
    border: 3px solid var(--secondary-color);                   /* Περίγραμμα με χρώμα */
    width: auto;                                                /* Το πλάτος προσαρμόζεται ανάλογα με το περιεχόμενο */
    height: auto;                                               /* Το ύψος προσαρμόζεται ανάλογα με το περιεχόμενο */
    text-align: left;                                           /* Ο κώδικας στοιχίζεται αριστερά */
}

code {
    color: white;                                             /* Ορίζει το χρώμα του κώδικα σε λευκό */
    font-size: 20px;                                            /* Mέγεθος της γραμματοσειράς */
}

/* Πίνακες */
.table {
    border-color: var(--secondary-color);                       /* Χρώμα του περιγράμματος του πίνακα */
    text-align: center;                                         /* Τοποθετεί στο κέντρο, τα κείμενα μέσα στα κελιά του πίνακα */
    font-size: 25px;                                            /* Mέγεθος της γραμματοσειράς */
    border-radius: 10px;                                        /* Στρογγυλοποιεί τις γωνίες του πίνακα */
    display: table;                                             /* Ορίζει το display ως πίνακα */
    margin: 0 auto;                                             /* Τοποθέτηση στο κέντρο, σύμφωνα με τον οριζόντιο άξονα */
}

.table2 {
    border-color: var(--secondary-color);                       /* Χρώμα του περιγράμματος του πίνακα */
    border-radius: 10px;                                        /* Στρογγυλοποιεί τις γωνίες του πίνακα */
    font-size: 20px;                                            /* Mέγεθος της γραμματοσειράς */
    text-align: center;                                         /* Τοποθετεί στο κέντρο, τα κείμενα μέσα στα κελιά του πίνακα */
}

.table2 td:nth-child(3) {
    text-align: justify;                                        /* Κάνει την στοίχιση του κειμένου στην τρίτη στήλη justified για τον πίνακα 2 */
    font-size: 22px;                                            /* Mέγεθος της γραμματοσειράς */
    padding: 10px;                                              /* Περιθώριο στα κελιά της τρίτης στήλης */
}

/* Εμφάνιση footer------------------------------------------------------------------------------------------------------------------------------- */

footer {
    font-size: 12px;                                            /* Mέγεθος της γραμματοσειράς */
    color: var(--tertiary-color);                               /* Χρώμα του κειμένου στο footer */
    padding: 20px 0;                                            /* Padding πάνω και κάτω στο footer */
    text-align: center;                                         /* Τοποθέτηση περιεχομένου στο κέντρο, σύμφωνα με τον οριζόντιο άξονα */
    border-top: 5px solid var(--secondary-color);               /* Οριζόντια γραμμή στο επάνω μέρος του footer */
}

.footer-content a {
    color: var(--tertiary-color);                               /* Χρώμα των συνδέσμων μέσα στο footer */
}

/* Εμφάνιση scrollbar ανάλογα τη μηχανή αναζήτησης----------------------------------------------------------------------------------------------- */

/* Scrollbar για Chrome, Edge, Safari, Opera */
::-webkit-scrollbar {
    width: 10px !important;                                     /* Πλάτος του scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color) !important;  /* Χρώμα του scrollbar (thumb) */
    border-radius: 10px !important;                             /* Στρογγυλοποιεί το scrollbar (thumb) */
}

::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color) !important;  /* Χρώμα του background του scrollbar (track) */
    border-radius: 10px !important;                             /* Στρογγυλοποιεί το track του scrollbar */
}

/* Scrollbar για Firefox */
body {
    scrollbar-width: thin !important;                           /* Πλάτος του scrollbar στο Firefox */
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color) !important; 
                                                                /* Χρώμα του "thumb" και του "track" στον Firefox */
}

/* Εμφάνιση ιστοσελίδας σε αναλογίες tablet------------------------------------------------------------------------------------------------------ */

/* Μεγάλες οθόνες tablet όπως Nest Hub Max */
@media only screen and (max-width: 1281px) {

    #icon {
        top: 30px;                                              /* Απόσταση του εικονιδίου από την κορυφή */
        right: 30px;                                            /* Απόσταση του εικονιδίου από τα δεξιά */
    }

    header {
        font-size: 25px;                                        /* Mέγεθος της γραμματοσειράς */
    }

    h1 {
        font-size: 24px;                                        /* Mέγεθος της γραμματοσειράς */
    }

    p, ul, ol {
        font-size: 20px;                                        /* Mέγεθος της γραμματοσειράς */
    }

    .navigation1, .navigation2 {
        margin: 0 auto;                                         /* Τοποθέτηση στο κέντρο, σύμφωνα με τον οριζόντιο άξονα */
        margin-bottom: 20px;                                    /* Περιθώριο από κάτω */
    }

    .navigation1 button:hover, .navigation2 button:hover {
        transform: none;                                        /* Απενεργοποιεί τη μεγέθυνση διότι σε tablets και κινητά που δεν υπάρχει κέρσορας, δεν είναι εφικτό το εφέ*/
    }

    .navigation1 {
        width: 100%;                                            /* Το πλάτος του menu καλύπτει το 100% του γονικού στοιχείου */
    }

    .navigation2 {
        margin-left: 11px;                                      /* Το περιεχόμενο τοποθετείται με απόσταση 11px από την αριστερή πλευρά */
        width: 30%                                              /* Πλάτος του περιγράμματος */
    }

    #intro, #links, #introduction, #list, #data-types-operators, #arithmetic-logical-operations, #variables, #comments, #built-in-functions, #basic-commands, #libraries, #control-flow, #functions, #examples, #game {
        width: 95%;                                             /* Πλάτος του περιεχομένου στο 95% για να προσαρμόζεται καλύτερα σε μικρότερες οθόνες */
        margin: 0 auto;                                         /* Τοποθέτηση στο κέντρο, σύμφωνα με τον οριζόντιο άξονα */
        margin-bottom: 20px;                                    /* Περιθώριο από κάτω */
    }

    pre {
        overflow-x: auto;                                       /* Οριζόντιο scrollbar αν το περιεχόμενο του κώδικα υπερβαίνει το πλάτος */
    }

    iframe {
        position: relative;                                     /* Μετακίνηση του παιχνιδιού βάσει της αρχικής του θέσης */
        left: 50%;                                              /* Τοποθετεί το iframe κατά 50% από τα αριστερά */
        transform: translateX(-50%) scale(0.9);                 /* Μετακινεί το iframe 50% προς τα αριστερά και το μειώνει στο 90% του αρχικού μεγέθους */
    }
}

/* Μεγάλες οθόνες tablet όπως iPad Pro */
@media only screen and (max-width: 1025px) {
    .navigation2 {
        margin-left: 5px;                                       /* Το περιεχόμενο τοποθετείται με απόσταση 5px από την αριστερή πλευρά */
    }
}

/* Για μεσαίου μεγέθους οθόνες όπως Asus Zenbook Fold, iPad Air */
@media (max-width: 854px) {

    .navigation2 {
        margin-left: 1px;                                       /* Το περιεχόμενο τοποθετείται με απόσταση 1px από την αριστερή πλευρά */
        width: 30%                                              /* Πλάτος του περιγράμματος */
    }

    iframe {
        transform: translateX(-50%) scale(0.8);                 /* Μετακινεί το iframe 50% προς τα αριστερά και το μειώνει στο 80% του αρχικού μεγέθους */
    }
}

/* Για μικρότερες συσκευές όπως iPad Mini */
@media (max-width: 769px) {

    .navigation2 {
        width: 35%                                              /* Πλάτος του περιγράμματος */
    }

    iframe {
        transform: translateX(-50%) scale(0.7);                 /* Μετακινεί το iframe 50% προς τα αριστερά και το μειώνει στο 70% του αρχικού μεγέθους */
    }
}

/* Εμφάνιση ιστοσελίδας σε αναλογίες smartphone-------------------------------------------------------------------------------------------------- */

/* Surface Duo */
@media (max-width: 541px) {

    #logo {
        display: block;                                         /* Εμφανίζει το λογότυπο ως block στοιχείο */
        margin: 0 auto;                                         /* Τοποθέτηση στο κέντρο, σύμφωνα με τον οριζόντιο άξονα */
    }

    header {
        font-size: 20px;                                        /* Mέγεθος της γραμματοσειράς */
    }

    #title {
        text-align: center;                                     /* Τοποθέτηση περιεχομένου στο κέντρο, σύμφωνα με τον οριζόντιο άξονα */
        display: block;                                         /* Εμφανίζει τον τίτλο ως block στοιχείο */
    }

    #moving-sentence {
        visibility: hidden;                                     /* Κρύβει το εφέ με το κείμενο χωρίς να καταλαμβάνει χώρο */
    }    

    h1 {
        font-size: 18;                                          /* Mέγεθος της γραμματοσειράς */
    }

    p, ul, ol {
        font-size: 16px;                                        /* Mέγεθος της γραμματοσειράς */
        white-space: normal;                                    /* Το κείμενο αναδιπλώνεται κανονικά και δεν παραμένει σε μία γραμμή */
    }

    code {
        font-size: 16px;                                        /* Mέγεθος της γραμματοσειράς */
    }

    .navigation1 {
        display: flex;                                          /* Flexbox για τη στοίχιση των κουμπιών */
        width: 30%;                                             /* Το navigation1 καταλαμβάνει το 30% του πλάτους */
        flex-direction: column;                                 /* Στοιχίζει τα κουμπιά κατακόρυφα */
    }

    .navigation2 {
        width: 50%;                                             /* Πλάτος του περιεχομένου στο 50% για να προσαρμόζεται καλύτερα σε μικρότερες οθόνες */
    }

    .navigation1, .navigation2 {
        margin: 0 auto;                                         /* Τοποθέτηση στο κέντρο, σύμφωνα με τον οριζόντιο άξονα */
        margin-bottom: 20px;                                    /* Περιθώριο από κάτω */
    }

    /* Προσαρμογή για το περιεχόμενο */
    #intro, #links, #introduction, #list, #data-types-operators, #arithmetic-logical-operations, #variables, #comments, #built-in-functions, #basic-commands, #libraries, #control-flow, #functions, #examples, #game {
        width: 90%;                                             /* Πλάτος του περιεχομένου στο 90% για καλύτερη προσαρμογή σε μικρές οθόνες */
        margin: 0 auto;                                         /* Τοποθέτηση στο κέντρο, σύμφωνα με τον οριζόντιο άξονα */
        margin-bottom: 20px;                                    /* Περιθώριο από κάτω */
    }

    .table {
        font-size: 16px;                                        /* Mέγεθος της γραμματοσειράς */
        width: 100%;                                            /* Ο πίνακας να καλύπτει το πλήρες πλάτος της οθόνης */
    }

    .table2 {
        font-size: 16px;                                        /* Mέγεθος της γραμματοσειράς */
        width: 100%;                                            /* Ο πίνακας καλύπτει το πλήρες πλάτος της οθόνης */
        table-layout: fixed;                                    /* Σταθερό πλάτος για τα κελιά του πίνακα */
    }

    .table2 th, .table2 td {
        word-wrap: break-word;                                  /* Αναδιπλώνει τις λέξεις αν είναι πολύ μεγάλες για τα κελιά */
    }

    .table2 td:nth-child(3) p {
        font-size: 15px;                                        /* Mέγεθος της γραμματοσειράς */
        line-height: 1.2;                                       /* Aπόσταση μεταξύ των γραμμών για καλύτερη αναγνωσιμότητα */
    }
    
    iframe {
        width: 100%;                                            /* Το παιχνίδι καλύπτει όλο το πλάτος της οθόνης που επιτρέπεται */
        transform: translateX(-50%);                            /* Τοποθετεί στο κέντρο το παιχνίδι */
        height: 300px;                                          /* Ύψος του παιχνιδιού */
    }
}

/* Τροποποιείται η εμφάνιση των menus ανάλογα με την αναλογία της οθόνης */
@media (max-width: 431px) {

    .navigation1 {
        width: 40%;
    }

    .navigation2 {
        width: 65%;
    }

    iframe {
        height: 275px;                                          /* Ύψος του παιχνιδιού */
    }
}

@media (max-width: 391px) {
    .navigation2 {
        width: 70%;
    }

    iframe {
        height: 250px;                                          /* Ύψος του παιχνιδιού */
    }
}

@media (max-width: 361px) {
    .navigation2 {
        width: 75%;
    }

    iframe {
        height: 225px;                                          /* Ύψος του παιχνιδιού */
    }
}

@media (max-width: 345px) {
    .navigation2 {
        width: 80%;
    }

    iframe {
        height: 200px;                                          /* Ύψος του παιχνιδιού */
    }
}